In [1]:
import numpy as np

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [3]:
def tempTo(a):
    b = float(-39.6 + 0.01*a)
    return round(b, 2)

In [4]:
def humiTo(a):
    b = float(-2.0468 + 0.0367*a-1.5955*(10**(-6))*(a**2))
    return round(b, 2)

In [9]:
f = open('output.txt','r')
col_names = ['type_packet','destination','source', 'len_payload', 'id_group', 'note_id1', 'temp1' ,'humi1', 'note_id2', 'temp2' ,'humi2', 'note_id3', 'temp3', 'humi3', 'note_id4', 'temp4' ,'humi4']

df = pd.DataFrame(np.zeros((1,len(col_names))), columns = col_names)

while True:
    data=f.readline()
    data = data.split(" ")
    if data == ['']:
        break
    
    try:
        data.remove('\n')
    except:
        break
    type_msg = data[0]
    destination_add = data[1]+data[2]
    source_add = data[3]+data[4]
    len_payload = data[5]
    id_group = data[6]

    id_note1 = data[8]+data[9]
    temp1 = int(data[10]+data[11],16)
    temp1 = tempTo(temp1)
    humi1 = int(data[12]+data[13],16)
    humi1 = humiTo(humi1)

    id_note2 = data[14]+data[15]
    temp2 = int(data[16]+data[17],16)
    temp2 = tempTo(temp2)
    humi2 = int(data[18]+data[19],16)
    humi2 = humiTo(humi2)

    id_note3 = data[20]+data[21]
    temp3 = int(data[22]+data[23],16)
    temp3 = tempTo(temp3)
    humi3 = int(data[24]+data[25],16)
    humi3 = humiTo(humi3)

    id_note4 = data[26]+data[27]
    temp4 = int(data[28]+data[29],16)
    temp4 = tempTo(temp4)
    humi4 = int(data[30]+data[31],16)
    humi4 = humiTo(humi4)

    #data1 = np.array([type_msg, destination_add, source_add, len_payload, id_group, id_note1, temp1,
                        #humi1, id_note2, temp2, humi2, id_note3, temp3, humi3, id_note4, temp1, humi4])
    #df1 = pd.DataFrame(data1, columns = col_names)
    new_row = {'type_packet':type_msg, 'destination': destination_add, 'source':source_add,
              'len_payload':len_payload, 'id_group':id_group,
              'note_id1':id_note1, 'temp1':temp1, 'humi1':humi1,
              'note_id2':id_note2, 'temp2':temp2, 'humi2':humi2,
              'note_id3':id_note3, 'temp3':temp3, 'humi3':humi3,
              'note_id4':id_note4, 'temp4':temp4, 'humi4':humi4,}
    df = df.append(new_row, ignore_index = True)

print(df)

   type_packet destination_address source_address len_payload id_group  \
0            0                   0              0           0        0
1           00                0080           0001          18       22
2           00                0080           0001          18       22
3           00                0080           0001          18       22
4           00                0080           0001          18       22
5           00                0080           0001          18       22
6           00                0080           0001          18       22
7           00                0080           0001          18       22
8           00                0080           0001          18       22
9           00                0080           0001          18       22
10          00                0080           0001          18       22
11          00                0080           0001          18       22
12          00                0080           0001          18       22
13          00                0080           0001          18       22
14          00                0080           0001          18       22
15          00                0080           0001          18       22
16          00                0080           0001          18       22
17          00                0080           0001          18       22
18          00                0080           0001          18       22
19          00                0080           0001          18       22
20          00                0080           0001          18       22
21          00                0080           0001          18       22
22          00                0080           0001          18       22
23          00                0080           0001          18       22
24          00                0080           0001          18       22
25          00                0080           0001          18       22

   note_id1  temp1  humi1 note_id2  temp2  humi2 note_id3  temp3  humi3  \
0         0   0.00   0.00        0   0.00   0.00        0   0.00   0.00
1      4444  25.74  37.29     1111  26.30  35.83     4444  25.75  40.19
2      4444  25.74  37.29     1111  26.24  36.56     4444  25.75  40.19
3      4444  25.70  38.18     1111  26.18  36.06     4444  25.70  38.05
4      4444  25.70  38.18     1111  26.16  35.69     4444  25.70  38.05
5      4444  25.70  38.18     1111  26.13  35.13     4444  25.70  38.05
6      4444  25.68  37.85     1111  26.11  36.03     4444  25.67  38.11
7      4444  25.68  37.85     1111  26.10  36.09     4444  25.67  38.11
8      4444  25.68  37.85     1111  26.06  35.66     4444  25.67  38.11
9      4444  25.64  37.25     1111  26.04  35.33     4444  25.64  36.99
10     4444  25.64  37.25     1111  26.04  35.43     4444  25.64  36.99
11     4444  25.64  37.25     1111  26.03  36.13     4444  25.64  36.99
12     4444  25.89  57.23     1111  26.02  37.19     4444  25.79  47.69
13     4444  25.89  57.23     1111  25.99  35.93     4444  25.79  47.69
14     4444  25.89  57.23     1111  25.98  35.50     4444  25.79  47.69
15     4444  25.62  37.12     1111  25.96  35.36     4444  25.61  37.09
16     4444  25.62  37.12     1111  25.95  35.73     4444  25.61  37.09
17     4444  25.62  37.12     0FA1  26.39  37.25     4444  25.61  37.09
18     1111  25.94  35.46     1111  25.94  35.46     0FA1  26.45  36.56
19     1111  25.93  35.36     1111  25.93  35.36     0FA1  26.45  36.56
20     1111  25.92  35.33     1111  25.92  35.33     0FA1  26.45  36.56
21     1111  25.90  36.39     1111  25.90  36.39     1111  25.90  36.39
22     0FA5  27.31  35.99     0FA5  27.31  35.99     0FA5  27.31  35.99
23     4444  25.60  38.87     4444  25.60  38.87     4444  25.60  38.87
24     1111  25.89  36.53     0FA6  27.57  35.20     1111  25.89  36.53
25     1111  25.88  35.93     0FA6  27.57  35.20     1111  25.88  35.93

   note_id4  temp4  humi4
0         0   0.00   0.00
1      1111  26.30  35.83
2      1111  26.24  36.56
3      1111  26.18  36.06
4      1111  26.16  35.69
5      1111  26.13  35.13
6      1111  26.11  36.03
7      1111  26.10  36.09
8      1111  26.06  35.66
9      1111  26.04  35.33
10     1111  26.04  35.43
11     1111  26.03  36.13
12     1111  26.02  37.19
13     1111  25.99  35.93
14     1111  25.98  35.50
15     1111  25.96  35.36
16     1111  25.95  35.73
17     0FA1  26.39  37.25
18     4444  25.62  37.25
19     4444  25.62  37.25
20     4444  25.62  37.25
21     1111  25.90  36.39
22     0FA5  27.31  35.99
23     4444  25.60  38.87
24     1111  25.89  36.53
25     1111  25.88  35.93